body {
    position: relative;
    overflow: hidden;
}

.top {
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: hsl(214, 100%, 50%);
    padding-top: 20vh;
    transition: 1s;
}

.top-block {
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    line-height: 130%;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: hsl(214, 100%, 50%);
    padding-top: 5vh;
}

.bottom-block {
    padding: 50px;
    font-size: 100px;
    font-weight: 900;
    border: 1px solid #150c9110;
    box-shadow: 20px 20px 20px #130e0e3a;
    transition: 1s;

}


.bottom-block:hover {
    box-shadow: 1px 1px 1px #130e0e;
    cursor: pointer;
}

.bottom__item1 {
    background-color: green;
}

.bottom__item2 {
    background-color: yellow;
}

.bottom__item3 {
    background-color: red;
}

.top-block__input {
    display: block;
    width: 50vw;
    height: 15vh;
    margin: 5vh auto;
    padding: 0 30px;
    font-size: 10vh;
    transition: 2s;
    border: 0;

}

.top-block__input-error {
    border: 3px solid red;
}

.error {
    color: red;
    text-align: center;
    font-size: 20px;
}

.bottom__btn {
    padding: 20px;

    background-color: yellow;

    font-size: 100px;
    font-weight: 900;
    border: 1px solid #150c9110;
    box-shadow: 20px 20px 20px #130e0e3a;
    transition: 1s;
}

.bottom__btn1 {
    padding: 20px;

    background-color: yellow;

    font-size: 100px;
    font-weight: 900;
    border: 1px solid #150c9110;
    box-shadow: 20px 20px 20px #130e0e3a;
    transition: 1s;
}

.back {
    padding: 20px;
    font-size: 100px;
    font-weight: 900;
    border: 1px solid #150c9110;
    box-shadow: 20px 20px 20px #130e0e3a;
    background-color: yellow;
    border: 1px solid #150c9110;
    box-shadow: 20px 20px 20px #130e0e3a;
    transition: 1s;
}

.back:hover {
    box-shadow: 1px 1px 1px #130e0e;
    cursor: pointer;
}